body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-left: 36%;
  margin-top: 10%;
  background-image:url("FondoNonogram.jpg");

}

.square {
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(250, 235, 23);
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.pintar{
  background: linear-gradient(45deg, #e6110a 30%, #fa06a9 90%);
}
.square:focus {
  outline: none;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #42b3cf;
  color:rgb(255, 255, 255);
  border-radius: 8px;
  margin: 5px;
}

.clue div {
  margin: 2px
}

.sat{
  background: linear-gradient(45deg, #2fe91e 30%, #a1d131 90%);
}
.nsat{
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
}
.colClues .clue {
  flex-direction: column;
}

.box{
  position: relative;
  height: 50px;
  width: 50px;
  left : 110px;
  top : 161px;
  font-size: 300%;
  font-family: "Segoe UI Light";
  font-weight: 1000;

  border: solid rgb(12, 239, 247) 1px;
}
.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

.cartelGanaste
{
  position: absolute;
  height: 50px;
  width: 500px;
  left : 55%;
  top : 20%;
  color : rgb(186, 237, 5);
  font-size: 200%;
  font-family: "Segoe UI Light";
  font-weight: 800;
  transform: translate(-50%,-50%);
}

.Estado{
  position:relative;
  height: 50px;
  width: 50px;
  left : 30px;
  top : 60px;
  color : rgb(7, 209, 255);
  font-size: 200%;
  font-family: "Segoe UI Light";
  font-weight: 700;
  
}
.cartelNombre{
  position: relative;
  height: 50px;
  width: 500px;
  right:500px;
  bottom: 20%;
  color : rgb(7, 209, 255);
  font-size: 300%;
  font-family: "Segoe UI Light";
  font-weight: 800;
  transform: translate(-50%,-50%);
}

.botonDeReset{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position: absolute;
  height: 80px;
  width: 900px;
  left : 50%;
  top : 50%;
  transform: translate(-50%,-50%);
  font-weight: 1000;
  border-radius: 8px;
}

.botonReglas{
  border: solid rgb(12, 239, 247) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position:relative;
  height: 50px;
  width: 100px;
  left: 170px;
  top : 6px;
  font-weight: 1000;
  border-radius: 8px;
}
.botonDeGit{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position: absolute;
  height: 80px;
  width: 900px;
  left : 50%;
  top : 65%;
  transform: translate(-50%,-50%);
  font-weight: 1000;
  border-radius: 8px;
}

.botonDeReinicio{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position:relative;
  height: 50px;
  width: 157px;
  left: 14px;
  top: 60px;
  font-weight: 1000;
  border-radius: 8px;
}

.botonDeResolver{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position:relative;
  height: 50px;
  width: 157px;
  right: 143px;
  bottom: 48px;
  font-weight: 1000;
  border-radius: 8px;
}