

botonesGenerales{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

botonesGenerales:after {
  content: '»';
  position: relative;
  opacity: 0;  
  top: 14px;
  right: -2px;
  transition: 0.5s;
}

botonesGenerales:hover{
  padding-right: 0px;
  padding-left: 0px;
}

botonesGenerales:hover:after {
  opacity: 1;
  right: 10px;
}


body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-left: 36%;
  margin-top: 10%;
  background-image:url("FondoNonogram.jpg");

}

.square {
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(250, 235, 23);
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.pintar{
  background: linear-gradient(45deg, #e6110a 30%, #fa06a9 90%);
}
.square:focus {
  outline: none;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #42b3cf;
  color:rgb(255, 255, 255);
  border-radius: 8px;
  margin: 5px;
}

.clue div {
  margin: 2px
}

.sat{
  background: linear-gradient(45deg, #2fe91e 30%, #a1d131 90%);
}
.nsat{
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
}
.colClues .clue {
  flex-direction: column;
}

.box{
  position: relative;
  height: 50px;
  width: 50px;
  left : 250px;
  top : 215px;
  font-size: 300%;
  font-family: "Segoe UI Light";
  font-weight: 1000;

  border: solid rgb(12, 239, 247) 1px;
}
.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

.cartelGanaste
{
  position: absolute;
  height: 50px;
  width: 500px;
  left : 55%;
  top : 20%;
  color : rgb(186, 237, 5);
  font-size: 200%;
  font-family: "Segoe UI Light";
  font-weight: 800;
  transform: translate(-50%,-50%);
}

.Estado{
  position:relative;
  height: 50px;
  width: 50px;
  left : 90px;
  bottom: 80px;
  color : rgba(247, 247, 247, 0.925);
  font-size: 200%;
  font-family: "Segoe UI Light";
  font-weight: 700;
  
}
.cartelNombre{
  position: relative;
  height: 50px;
  width: 250px;
  right:500px;
  bottom: 20%;
  color : rgb(7, 209, 255);
  font-size: 300%;
  font-family: "Segoe UI Light";
  font-weight: 800;
  transform: translate(-50%,-50%);
}

.botonDeReset{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position: absolute;
  height: 80px;
  width: 900px;
  left : 50%;
  top : 50%;
  transform: translate(-50%,-50%);
  font-weight: 1000;
  font-size: 30px;
  border-radius: 8px;
}

.botonReglas{
  border: solid rgb(12, 239, 247) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position:relative;
  height: 50px;
  width: 157px;
  left: 91px;
  top : 31px;
  font-weight: 1000;
  font-size: 25px;
  border-radius: 8px;
}
.botonDeGit{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position: absolute;
  height: 80px;
  width: 900px;
  left : 50%;
  top : 65%;
  transform: translate(-50%,-50%);
  font-weight: 1000;
  font-size: 30px;
  border-radius: 8px;
}

.botonDeReinicio{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position:relative;
  height: 50px;
  width: 157px;
  right: 67px;
  top: 90px;
  font-weight: 1000;
  font-size: 25px;
  border-radius: 8px;
}


/* Boton Resolver Nonograma */
.checkboxResolverNonograma{
  display:none;
}

.checkboxResolverNonograma:checked + .labelResolverNonograma .ballResolverNonograma {
  transform: translateX(24px);
}

.checkboxResolverNonograma:checked + .labelResolverNonograma{
  background-color: #063ffa;
}

.labelResolverNonograma { 
  background-color: #5f49bf;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  margin: 320px 22px 150px;
  height: 26px;
  width: 50px;
  transform: scale(1.2);
  bottom: 280px;
  left: 450px;
}

.ballResolverNonograma {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  transition: transform 0.4s linear;
}

/* Movimiento label de Resolver Nonograma*/
.checkboxResolverNonograma:checked + .labelResolverNonograma .ballResolverNonograma {
  transform: translateX(24px);
}

/* Boton de Ayuda */
.checkboxAyudita{
  display:none;
}

.checkboxAyudita:checked + .labelAyudita .ballAyudita {
  transform: translateX(24px);
}

.checkboxAyudita:checked + .labelAyudita{
  background-color: #063ffa;
}

.labelAyudita { 
  background-color: #5f49bf;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  margin: 320px 22px 150px;
  height: 26px;
  width: 50px;
  transform: scale(1.2);
  bottom: 690px;
  left: 450px;
}

.ballAyudita {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  transition: transform 0.4s linear;
}

/* Movimiento label de Resolver Nonograma*/
.checkboxAyudita:checked + .labelAyudita .ballAyudita {
  transform: translateX(24px);
}

.cartelResolver{
  border: solid rgb(8, 222, 250) 1px;
  background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
  color: rgb(255, 255, 255);
  position: relative;
  height: 50px;
  width: 150px;
  left: 385px;
  bottom: 850px;
  transform: translate(-50%,-50%);
  font-weight: 1000;
  font-size: 30px;
  border-radius: 8px;
}

.cartelAyuda{
    border: solid rgb(8, 222, 250) 1px;
    background: linear-gradient(45deg, #5f49bf 30%, #063ffa 90%);
    color: rgb(255, 255, 255);
    position: relative;
    height: 50px;
    width: 150px;
    left: 385px;
    bottom: 857px;
    transform: translate(-50%,-50%);
    font-weight: 1000;
    font-size: 30px;
    border-radius: 8px;
  
}